.present-card-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img-top {
  width: 200px !important;
  height: 200px;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  background-image: linear-gradient(
    to bottom left,
    rgba(235, 225, 225, 0.5),
    #4dbcdd
  );
}

.like-icon {
  float: right;
  cursor: pointer;
  text-align: center;
}

.detail-line {
  margin-bottom: 15px !important;
}

.likes-counter {
  cursor: default;
}
